<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
<!--
    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
-->
    <ion-title>{{ cuenta.empresa }} {{ cuenta.nrocuenta }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="updateSchedule()">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentFilter(criterio)">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="localFilter()"
                   placeholder="Filtrar movimientos">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [hidden]="movimientosFiltrados.length === -1">
    <ion-item-group>
      <ion-item-divider color="light">Movimientos {{ getDescripcionCriterio() }}
      <ion-note color="dark" item-right>Saldo {{ getImporteConFormato(cuenta.saldo) }}</ion-note>
      </ion-item-divider>

	<button ion-item *ngFor="let movimiento of movimientosFiltrados" (click)="goToSessionDetail(cuenta, movimiento)">
	  <ion-note item-left>{{ movimiento.fecha | date: 'dd-MM' }}</ion-note>
	  <h2>
	    {{ movimiento.tipomovimiento }} {{ movimiento.concepto }}
	  </h2>
	  <p *ngIf="movimiento.extra">{{ movimiento.extra }}</p>
	  <ion-note [color]="movimiento.importe < 0 ? 'danger' : 'primary'" item-right>{{ getImporteConFormato(movimiento.importe) }}</ion-note>
	</button>

      </ion-item-group>
  </ion-list>


  <ion-card [hidden]="isLoading || movimientosFiltrados.length > 0">

    <ion-card-header>
	<p>No existen movimientos</p>
    </ion-card-header>

  </ion-card>

    
</ion-content>