<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
<!--
    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
-->
    <ion-title>{{ cuenta.empresa }} {{ cuenta.nrocuenta }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter(criterio)">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="localFilter()"
                   placeholder="Filtrar">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="light">Movimientos {{ getDescripcionCriterio() }}
      <ion-note color="dark" item-right>Saldo {{ getImporteConFormato(cuenta.saldo) }}</ion-note>
      </ion-item-divider>

	<button ion-item *ngFor="let movimiento of movimientosFiltrados" (click)="goToSessionDetail(cuenta, movimiento)">
	  <ion-note item-left>{{ movimiento.fecha | date: 'dd-MM' }}</ion-note>
	  <h2>
	    {{ movimiento.tipomovimiento }} {{ movimiento.concepto }}
	  </h2>
	  <p *ngIf="movimiento.extra">{{ movimiento.extra }}</p>
	  <ion-note [color]="movimiento.importe < 0 ? 'danger' : 'primary'" item-right>{{ getImporteConFormato(movimiento.importe) }}</ion-note>
	</button>

      </ion-item-group>
  </ion-list>


  <!--ion-list #scheduleList [hidden]="shownSessions === 0">-->

  <ion-list-header [hidden]="shownSessions > 0">
      No Sessions Found
  </ion-list-header>

  <!--
  <ion-fab bottom right #fab>
    <button ion-fab><ion-icon name="share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="vimeo" (click)="openSocial('Vimeo', fab)"><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab color="google" (click)="openSocial('Google+', fab)"><ion-icon name="logo-googleplus"></ion-icon></button>
      <button ion-fab color="twitter" (click)="openSocial('Twitter', fab)"><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab color="facebook" (click)="openSocial('Facebook', fab)"><ion-icon name="logo-facebook"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  -->


</ion-content>